footer.footer
    .footer-row
        a(href="#") Contact
        a(href="#") Complain Form
        a(href="#") Register
    .footer-row
        a(href="#") Email Address
        a(href="#") Check Min-service
        a(href="#") All rights reserved
    .footer-row
        a(href="#") Login
        a(href="#") FAQs
