section.section-main 
    .card-container 
        .card
            .card-header
                .card-header-layer 
                img(src="https://images.unsplash.com/photo-1651170022381-aa0c4a9dea80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60")
            .card-details 
                h1.card-details__heading  MEDIUM 7-DAY TOUR
                p.card-details__description Exploring the jaw-dropping US east coast by foot and by boat
                ul.card-details__dataLists 
                    li.card-details__dataLists__list 
                        i(class='fa fa-map-marker') 
                        span  &nbsp; Mk Niazi
                    li.card-details__dataLists__list 
                        i(class='fa fa-calendar') 
                        span  &nbsp; Mk Niazi
                    li.card-details__dataLists__list 
                        i(class='fa fa-flag') 
                        span  &nbsp; Mk Niazi
                    li.card-details__dataLists__list 
                        i(class='fa fa-user') 
                        span  &nbsp; Mk Niazi                 
            .card-footer 
                .card-footer__left 
                    p.card-footer__left__container 
                        b $497 
                        span per person
                    p.card-footer__left__container 
                        b 4.3
                        span  rating (7)
                .card-footer__right
                    button Details
