extends base
block content 
    section.section_login 
        form.login_form( id="login_form")
            label(for="") Email Adress
            input.loginEmail(type="text" placeholder="Email" name="email") 
            label(for="") Password
            input.loginPassword(type="password" placeholder="password" name="password"  autocomplete="on") 
            .buttonwraper 
                input(type="submit" value="Login") 

      
