.section_login{
    width: 80%;
    margin: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7f7;
    padding: 4rem 0;
}
.login_form{
    width: 40%;
    margin: 0 auto;
    background-color: transparent;
    height: 100%;
    background-color: white;
    padding:  1rem 5rem;
    h1{
        text-align: center;
        padding:  4rem 0 1rem 0;
    }
    label{
        display: block;
        margin-top: 1rem;
        padding: 1rem ;
        font-weight: 900;
    }
    input{
        width: 100%;
        padding: .5rem;
        border: none;
        outline: none;
        background-color: gainsboro;
    }
}

.buttonwraper{
    width: 100%;
    text-align: center;
    padding:3rem 0 1rem 0 ;
    a{
        text-decoration: none;
        margin-top: 1rem;
        padding: .5rem 1.5rem;
        border: none;
        background-color: gainsboro;
        color: black;
        font-weight: 800;
    }
}